<!DOCTYPE html>
<html>

<head>
    <title>{$pagetitle}</title>
    <meta charset='utf-8' />
    <meta name="keywords" content="{$keywords}" />
    <meta name="description" content="{$description}" />
    <link type="text/css" rel="stylesheet" href="/static/common/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="{$templets}/style/css/footer.css" />
    <link type="text/css" rel="stylesheet" href="{$templets}/style/css/nav.css" />
    <link type="text/css" rel="stylesheet" href="{$templets}/style/css/body.css" />
    <script type="text/javascript" src="/static/common/js/jquery.js"></script>
    <script type="text/javascript" src="/static/common/js/jquery.lazyload.min.js"></script>
    <script type="text/javascript" src="{$templets}/style/js/home.js"></script>
    <!-- tag::meta() -->
</head>

<body>
    <!-- include header -->
    <div class="page_main">
        <div class="wrap">
            <div class="page_breadcrumb cl"> {$position} </div>
            <div class="cl">
                <!--左侧导航-->
                <div class="page_left_nav">
                    <ul>
                        <li class="home {if $showtype=='new'}current{/if}"><a href="/{$current}/new">最新</a></li>
                        <li class="hot {if $showtype=='hot'}current{/if}"><a href="/{$current}/hot">热点</a></li>
                        <li class="tuwen {if $showtype=='photo'}current{/if}"><a href="/{$current}/photo">图文</a></li>
                    </ul>
                </div>
                <!-- 正文 -->
                <div class="page_center page_arclist">
                    <!--foreach tag::arclist("typeid=$typeid&row=10",true) -->
                    <!-- if $imglist -->
                    <div class="cl list_title">
                        <div class="tit"><a href="{$url}" target="_blank">{$title}</a></div>
                        <div class="date">{$typename} &nbsp;&middot;&nbsp; {date('Y-m-d H:i',$addtime)} </div>
                        <a class="imglist cl" href="{$url}" target="_blank">
                            <!-- foreach $imglist $p --><span class="fl small"><img src="/static/common/images/nopic.png" data-original="{$p}" /></span>
                            <!-- /foreach -->
                        </a>
                        <div class="desc_txt">{cut($description,150,'...')}</div>
                    </div>
                    <!-- else -->
                    <div class="cl list_title">
                        <div class="fl big"> <a href="{$url}" target="_blank"><img src="/static/common/images/nopic.png" data-original="{$thumb}" /></a> </div>
                        <div class="fl descr">
                            <div class="tit"><a href="{$url}" target="_blank">{$title}</a></div>
                            <div class="desc_txt">{cut($description,150,'...')}</div>
                        </div>
                        <div class="time">{$typename} &nbsp;&middot;&nbsp; {date('Y-m-d H:i',$addtime)} </div>
                    </div>
                    <!-- /if -->
                    <!-- /foreach -->
                    <div class="page_link">{tag::pagelink()}</div>
                </div>
                <!--右侧广告位-->
                <div class="page_right">
                    <div class="ta cl">
                        <div class="tag">
                            <div class="tag1">热门文章</div>
                            <div class="arthot cl">
                                <ul>
                                    <!-- foreach tag::arclist("flag=c&row=10")-->
                                    <!-- if $index<=3 -->
                                    <li class="red"><i>{$index}</i> <a href="{$url}" target="_blank">{$title}</a> </li>
                                    <!-- else -->
                                    <li class="gray"><i>{$index}</i> <a href="{$url}" target="_blank">{$title}</a> </li>
                                    <!-- /if -->
                                    <!-- /foreach-->
                                </ul>
                            </div>
                        </div>
                        <div class="bbl cl">
                            <a href="http://www.cmssuper.com/" target="_blank"><img src="{$templets}/style/images/ad.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_frlink">
        <!--友情链接-->
        <ul>
            <li class="linkp">友情链接:</li>
            <div class="link1">
                <!--foreach tag::flink(20)-->
                <a href="{$url}" target="_blank">
                    <li>{$sitename}</li>
                </a>
                <!--/foreach-->
            </div>
        </ul>
    </div>
    <!-- include footer -->
    <script>
        $(function () {
            $("img").lazyload({
                effect: "fadeIn",
                threshold: 200,
                placeholder: '/static/common/images/nopic.png',
            });
        });
    </script>
</body>

</html>