.wrap {
	width: 1100px;
	margin: 0 auto;
}

/*搜索框*/
.nav-searchbox {
	height: 90px;
	line-height: 90px;
	width: 100%;
	border-bottom: 1px solid #d7dadb;
}
.nav-searchbox fieldset.search {
	padding: 0px;
	border: none;
	width: 480px;
    background: #f0f0f0;
    border-radius: 4px;
}
.nav-searchbox fieldset.search:hover {
	background: #e9eaeb;
}
.nav-searchbox fieldset.search input,
.nav-searchbox fieldset.search button {
	border: none;
	float: left;
}
.nav-searchbox fieldset.search input.box {
	height: 33px;
	width: 429px;
	padding-right: 0px;
	margin: 1px;
	padding-left: 10px;
	border-radius: 4px;
}
.nav-searchbox fieldset.search input.box:focus {
	outline: none;
}
.nav-searchbox fieldset.search button.btn {
	border: none;
	width: 33px;
	height: 30px;
	margin: 0px auto;
	margin: 1px;
	background: url("../images/find_s.png") no-repeat top right;
}
.nav-searchbox .searchbox_ym {
	float: left;
	font-size: 32px;
	color: #ff0000;
	padding-top: 10px;
	width: 235px;
	overflow: hidden;
	height: 80px;
	line-height: 90px;
}
.nav-searchbox .searchbox_ym img {
	height: 70px;
}

/* 导航 */
.sitenav {
	height: 45px;
	line-height: 45px;
	color: #bcbbb9;
	background-color: #f4f4f4;
}
.sitenav a {
	margin: 0 10px;
	font-size: 16px;
}
.sitenav a.cur {
	color: #000;
	font-weight: bold;
}

/*面包屑*/
.page_breadcrumb {
	margin-bottom: 4px;
	height: 39px;
	line-height: 39px;
	color: #bcbbb9;
}
.page_breadcrumb * {
	display: inline-block;
	font-size: 14px;
}
.page_breadcrumb a:first-child {
	padding-left: 10px;
}
